* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  font-family: "Barlow Semi Condensed", sans-serif;
  background-color: var(--clr-background-2);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  overflow: hidden;
}

:root {
  --clr-scissors-gradient-1: hsl(39, 89%, 49%);
  --clr-scissors-gradient-2: hsl(40, 84%, 53%);
  --clr-paper-gradient-1: hsl(230, 89%, 62%);
  --clr-paper-gradient-2: hsl(230, 89%, 65%);
  --clr-cyan-1: hsl(189, 59%, 53%);
  --clr-cyan-2: hsl(189, 58%, 57%);
  --clr-dark-text: hsl(229, 25%, 31%);
  --clr-score-text: hsl(229, 64%, 46%);
  --clr-header-outline: hsl(217, 16%, 45%);
  --clr-background-1: hsl(214, 47%, 23%);
  --clr-background-2: hsl(237, 49%, 15%);
}
